/* 1. Доступ к ссылкам с href, начинающимся на https и делаем их красными */
a[href^="https"] {
    color: red;
}

/* 2. Доступ к последней ссылке в первом списке и установка зеленого цвета фона */
.list > li:last-child a {
    background-color: green;
}

/* 3. Работает только для тегов <p>, идущих после <ul>, и устанавливает размер шрифта 26px */
ul + p {
    font-size: 26px;
}