#sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #7abaff;
    z-index: 1040;
}

#sidebarClose {
    position: absolute;
    top: 10px;
    right: 10px;
}

#sidebarOpen {
    color: black;
    background-color: white;
    border-color: gray;
    font-weight: bold;
}

#sidebarOpen:hover {
    border-color: black;
}

.btn-pagination {
    background-color: #DDDDDD;
    color: black;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.btn-pagination.active {
    background-color: black;
    color: white;
}

.btn-sort:focus {
    outline: none;
    box-shadow: none;
}

.btn-sort:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

.btn-sort:disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
}

.btn-type {
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.card-img-top:hover {
     opacity: 0.7;
}

.pagination .page-link {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.page-item.active .page-link {
    background-color: lightgrey; 
    color: black; 
    border-color: #dee2e6; 
    pointer-events: none; 
}

@media (max-width: 1200px) {
    .card-img-top {
        height: 350px;
    }
}


@media (max-width: 992px) {
    .card-img-top {
        height: 325px;
    }
}


@media (max-width: 600px) {
    .card-img-top {
        height: 300px;
    }
}

.card-text-font {
    font-family: 'Anta', sans-serif;
    font-weight: 500;
}
