.navbar {
    background-color: white;
    border-bottom: 1px solid black;
}

.navbar-brand {
    font-weight: 500;
    display: flex;
    align-items: center;
}

    .navbar-brand img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

.navbar-nav {
    margin: auto;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: black;
    font-size: 24px;
}

.nav-link:hover {
    color: gray;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}
