@model LoginModel

<link rel="stylesheet" href="~/css/Login.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

<form method="post">
    <div class="d-flex justify-content-center align-items-center" style="height: calc(90vh);">
        <div class="center-div mt-5 mx-auto d-flex flex-column align-items-center" style="background-color: white;">
            <img src="~/assets/logo.png" alt="Logo" class="img-fluid mt-5 mb-3 rounded-circle" style="width: 85px; height: 85px;">
            <div class="w-95 text-start mt-3 px-3" style="width: 100%;">
                <label for="Login" class="form-label fw-bold text-dark h4">Login</label>
                <input type="text" id="Login" name="Login" class="form-control mt-1 w-100 py-2 border-dark" placeholder="Login" style="width: 100%; font-size: 1.25rem;" required>
                <label for="Password" class="form-label mt-3 fw-bold text-dark h4">Password</label>
                <input type="password" id="Password" name="Password" class="form-control mt-1 w-100 py-2 border-dark" placeholder="Password" style="width: 100%; font-size: 1.25rem;" required>
                <button type="submit" class="btn btn-primary mt-4 w-100 py-2" style="font-size: 1.25rem;">Continue</button>
            </div>
        </div>
    </div>
</form>